<!DOCTYPE html>
<h1> Update A Student </h1>

<html>
<head>
  <title>Students</title>
</head>
<body>
  <h2>Update Student Name</h2>

  <form action="/student_update/save">
    <input type="hidden" name="id" value="<%= @student.id %>">
    <p>Name:<input type="text" placeholder="Name" name="name" value="<%= @student.name %>"></p>
    <p><input type="submit"></p>
  </form>
</body>
</html>
