<h1>Add A Student</h1>

  <form action="/students/student_add_form">
   
    <p>Name: <input type="text" name= "name" placeholder="name"></p>
  
    <input type="submit" value="ADD STUDENT">
    
  </form>
    
<p><a href="/home">Go to home page</a></p>
