<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
</head>
<body>
  <h2>Select the student to change</h2> 
  <form action="/students/student_change">

    <% Student.all.each do |student| %>
        <input type="radio" name="id" value="<%= student.id %>">
        <%= student.name%>
    <% end %>
    <p><input type="submit"></p>
  </form> 
<body>
</html>