<h1> Student Menu </h1>
<h3> Choose an option: </h3>
<ul>
  <li><a href="/student_add_form">Add a new student</a></li>
  <li><a href="/student_change">Change an existing student</a></li>
  <li><a href="/student_delete">Delete a student</a></li>
  <li><a href="/home">Return to Main Menu</a></li>
</ul>