<h1>Add an Assignment</h1>

  <p>Type out a new assignment</p>

  <form action="/assignments/assignment_add_form">
   
    <p>Name: <input type="text" name= "name" placeholder="name"></p>
  
    <p>Description: <input type="text" name= "description" placeholder="description"></p>
  
    <p>Blog Link ID: <input type="number" name= "blog_link_id" min="1"></p>
    
    <p>Github Link ID: <input type="number" name= "github_link_id" min="1"></p>
  
    <p>Student ID: <input type="number" name= "student_id" min="1"></p>

    <input type="submit" value="ADD ASSIGNMENT">
    
  </form>
    
<p><a href="/home">Go to home page</a></p>
