<h1> Assignment Menu </h1>
<h3> Choose an option: </h3>
<ul>
  <li><a href="/assignment_add_form">Add a new assignment</a></li>
  <li><a href="/assignment_change">Change an existing assignment</a></li>
  <li><a href="/assignment_delete">Delete a assignment</a></li>
  <li><a href="/assignment_view">View assignments</a></li>
  <li><a href="/home">Return to Main Menu</a></li>
</ul>